.header {
    padding: 15px 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    padding: 1rem 1.15rem;
    border-bottom: 1px solid #eceef3;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
